---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Classes from '../components/Classes.astro';
import Principles from '../components/Principles.astro';
import PhotoCarousel from '../components/PhotoCarousel.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="Escuela de Taekwondo Taeguk">
  <Header />
  <main>
    <Hero />
    <About />
    <Principles />
    <Classes />
    <PhotoCarousel />
    <Contact />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>