---
const currentYear = new Date().getFullYear();
---
<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <div>
        <h4 class="text-lg font-semibold mb-4 korean-title">Brigade Taekwondo Club</h4>
        <p class="text-gray-400">Membentuk juara dalam kehidupan melalui Taekwondo.</p>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4">Jadwal</h4>
        <p class="text-gray-400"><b>Rabu dan Sabtu Sore</b></p>

        <p class="text-gray-400">Jam 16:00 - 18:00</p>
        <p class="text-gray-400"><b>Kami menunggumu!</b></p>


      </div>
      <div>
        <h4 class="text-lg font-semibold mb-4">Kontak</h4>
        <p class="text-gray-400">Raka jumersyah pratama</p>
        <p class="text-gray-400"><b>Telepon:</b> 081632759435</p>
      </div>
    </div>
    <div class="text-center text-gray-400 border-t border-gray-800 pt-8">
      <p>&copy; {currentYear} Brigade Taekwondo Club. Hak cipta dilindungi.</p>
    </div>
  </div>
</footer>